<body ng-app="myApp">
    <div class="container main" ng-controller="mapController">
       
        <div class="row col-lg-12 col-md-12 col-sm-12" >
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12" id="map">
                <!--<div id="map"></div>-->
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12" id="mapinfo">
                <h1></h1>
                </div>
            <div>
                <form ng-controller="EmailController">
                    <button class="form-control" ng-click="sendemail()">Send request</button>
                </form>
            </div>
        </div>    

    </div>
    </body>
